@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome Student How Can we Help you today?</h1>
         <div id="logo">
            <a href="@Url.Action("Create", "Questions")">
                <img src="~/Images/save.png" alt="image" />
            </a>
        </div>
       
       
    </div>
    <div>
       